wsdls/product_bff_search.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.example.com/orders"
    targetNamespace="http://www.example.com/orders"
>
    <wsdl:types>
        <xsd:schema targetNamespace="http://www.example.com/orders" elementFormDefault="qualified">
            <xsd:element name="OrderRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="productid" type="xsd:int" />
                        <xsd:element name="count" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="OrderResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="id" type="xsd:int" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="OrderRequest">
        <wsdl:part name="orderRequest" element="tns:OrderRequest" />
    </wsdl:message>
    <wsdl:message name="OrderResponse">
        <wsdl:part name="orderResponse" element="tns:OrderResponse" />
    </wsdl:message>

    <wsdl:portType name="OrderServicePortType">
        <wsdl:operation name="createOrder">
            <wsdl:input message="tns:OrderRequest" />
            <wsdl:output message="tns:OrderResponse" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="OrderServiceBinding" type="tns:OrderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="/createOrder" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <!-- Service Definitions -->
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServicePort" binding="tns:OrderServiceBinding">
            <soap:address location="http://localhost:8080/ws" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>